/*
 * The two UI faces, shipped with the client (docs/visual-style/ui-type.md §7, #436): variable woff2 files, the latin
 * subset only (the UI is English), self-hosted from `assets/fonts/` rather than a CDN, under the SIL Open Font
 * License beside them. The family names are the ones `UI_FONT_SANS` and `UI_FONT_MONO` already ask for, so every
 * player measures the same glyphs as our evidence frames; a character outside the subset falls back per glyph.
 * The renderer's baked text waits for both (`render/ui-fonts.ts`) before it installs its bitmap fonts.
 */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url('/assets/fonts/inter-latin-wght-normal.woff2') format('woff2-variations');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 100 800;
  src: url('/assets/fonts/jetbrains-mono-latin-wght-normal.woff2') format('woff2-variations');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
